.profile {
  width: 50;
  height: 50;
  background-color: white;
  border-radius: 25;
}

.menu {
  color: white;
}

.menuitem {
  color: white;
  
  &.active {
    color: #49B4F0;
  }
}

.font-awesome {
  font-family: "FontAwesome";
  font-size: 20;

  &.active {
    color: #49B4F0;
  }
}
