.profilePicture {
  width: 194;
  height: 194;
  border-radius: 98;
  background-color: white;
}

.name {
  color: white;
  font-size: 34;
}

.company {
  color: white;
  font-size: 22;
}

.employee-title {
  color: white;
  font-size: 34;
}

.employee {
  color: white;
  font-size: 24;
}
