.searchbar {
  background-color: transparent;
}

.image {
  width: 146;
  height: 123;
  border-radius: 10;
}

.category {
  border-radius: 10;
  padding: 5;
  margin: 5;
  font-size: 16;
  background-color: #49B4F0;
  color: white;

  &.unselected {
    opacity: 0.5;
  }
}

.name {
  font-family: Inter;
  font-size: 20;
  color: white;
}

.date {
  font-family: Inter;
  font-size: 16;
  color: white;
}
