.profilePicture {
  width: 194;
  height: 194;
  border-radius: 98;
  background-color: white;
}

.name {
  color: white;
  font-size: 34;
}

.company {
  color: white;
  font-size: 25;
}

.id {
  color: white;
  font-size: 25;
}

.image {
  height: 266;
  width: 266;
}
