<GridLayout backgroundColor="black">
    <GridLayout rows="auto, *" margin="20">
        <StackLayout row="0" #profileData class="name">
            <StackLayout class="profilePicture">
                <Image src="~/assets/images/icon_profile.svg"></Image>
            </StackLayout>
            <StackLayout margin="10">
                <Label text="{{profile.firstname}} {{profile.lastname}}" class="name"
                       horizontalAlignment="center"></Label>
                <Label text="{{profile.company}}" class="company" horizontalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
        
        <StackLayout row="1" #qrCode marginTop="20" horizontalAlignment="center">
            <Label horizontalAlignment="center" [text]="profile.id" class="id"></Label>
            <Image [src]="getQRCodeImage()" class="image"></Image>
        </StackLayout>
    </GridLayout>
</GridLayout>
